<h1>商品新規登録</h1>

<%= form_with model: @item, url:admin_items_path do |f| %>
  <%= f.label :name, "商品名" %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :introduction, "商品の説明" %>
  <%= f.text_field :introduction, placeholder: "ここに説明文を記述" %>
  <br>
  <%=f.label :genre, "ジャンル" %>
  <%= f.collection_select :genre_id, @genres, :id, :name, {include_blank: "--選択してください--"}%>
  <br>
  <%= f.label :price, "税抜価格" %>
  <%= f.text_field :price, placeholder: "1000"%> 円
  <br>
  <%= f.label :is_active, "販売ステータス" %>
  <%= f.radio_button :is_active, :true %>
  <%= f.label :is_active, "販売中", value: :true%>
  <%= f.radio_button :is_active, :false %>
  <%= f.label :is_active, "販売中止", value: :falese%>
  <br>
  <%= f.submit "商品を追加" %>
<%end%>

