<h1>注文情報確認</h1>
 <% @cart_items.each do |cart| %>
  <p>商品名:
    <%= cart.item.name %>
  </p>
  <p>単価（税込):
    <%= (cart.item.with_tax_price).to_s(:delimited) %>
  </p>
  <p>個数:
    <%= cart.item_count %>
  </p>
  <p>小計:
    <%= (((cart.item.price*cart.item_count)*1.1).to_i).to_s(:delimited) %><br>
  </p>
 <%end%>

  <td>送料</td>
         <td><%= @order.postage %></td>
       </tr>
        <tr>
         <td class = "table-secondary">商品合計</td>
         <% @total = 0 %>
         <% @cart_items.each do |cart| %>
          <% @total += cart.item.price*cart.item_count %>
         <% end %>
         <td><%= (@total*1.1).floor.to_s(:delimited) %></td>
       </tr>
        <tr>
         <td class = "table-secondary">請求金額</td>
         <td><%= (@total = @order.postage + (@total*1.1).floor).to_s(:delimited) %> </td>
       </tr>
      </table>
     </div>
    </div>
    <div class = "row">
     <div class = "col-lg-8">
      <table class = "table table-borderless">
       <tr>
        <th style = "width: 20%">支払い方法</th>
        <td><%= @order.payment_method %></td>
       </tr>
       <tr>
        <th>お届け先</th>
        <td>
         〒<%= @order.post_code %>
           <%= @order.address %><br>
           <%= @order.address_name %>
        </td>
       </tr>
      </table>


<%= form_with model: @order, local: true do |f| %>
   <%= f.hidden_field :address_name %>
   <%= f.hidden_field :address %>
   <%= f.hidden_field :payment_method %>
   <%= f.hidden_field :post_code %>
   <%= f.hidden_field :postage %>
   <%= f.hidden_field :billing_amount, value: @total %>
   <%= f.submit "注文を確定する", class: "btn btn-success", style: "width: 15%" %>
<% end %>